TRACEFLOW_APP_NAME=traceflow
TRACEFLOW_ENV=local
TRACEFLOW_DEBUG=true
TRACEFLOW_API_V1_PREFIX=/api/v1
TRACEFLOW_DATABASE_URL=postgresql+psycopg://traceflow:traceflow@localhost:5432/traceflow
TRACEFLOW_LOG_LEVEL=INFO
TRACEFLOW_SECRET_KEY=change-me
TRACEFLOW_ACCESS_TOKEN_EXPIRE_MINUTES=60
TRACEFLOW_JWT_ALGORITHM=HS256
